<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddjc.dao.UserfeedbackMapper" >
  <resultMap id="BaseResultMap" type="com.ddjc.entity.Userfeedback" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="ext" property="ext" jdbcType="VARCHAR" />
    <result column="createDate" property="createdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.ddjc.entity.Userfeedback" >
    insert into UserFeedBack (id, note, ext, 
      createDate)
    values (#{id,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{ext,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ddjc.entity.Userfeedback" >
    insert into UserFeedBack
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="ext != null" >
        ext,
      </if>
      <if test="createdate != null" >
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>